In [2]:
import pandas as pd
pd.options.display.max_columns = None

In [3]:
input_excel = "/home/mert/Desktop/thesis/thesis/2019-08-09clusterSim_AB_V1.0.xlsx"
df = pd.read_excel(input_excel)
coordinates = pd.read_excel(input_excel, sheet_name="coordinates")

In [4]:
df = df.iloc[:, [0,3,6,7,8,9,13,14,-1]]
df.columns = ["Name", "FacilityId", "Capacity", "SQLProduction", "InstalledCapacity", "Website", "State", "County", "EIC"]

In [5]:
# website
websites = df[["Name", "Website"]].copy()
df.drop(columns=["Website"], inplace=True) # drop website column
websites["base"] = websites.Website.str.split("/").str[2]
websites.head()
websites.base.value_counts()
websites[websites["base"] == "www.enerjiatlasi.com"].head(3)

,Name,Website,base
7,YUNTDAĞI RES,https://www.enerjiatlasi.com/ruzgar/yuntdag-ru...,www.enerjiatlasi.com
13,TEPE RES,https://www.enerjiatlasi.com/ruzgar/tepe-ruzga...,www.enerjiatlasi.com
16,SUNJÜT RES,https://www.enerjiatlasi.com/ruzgar/,www.enerjiatlasi.com

In [6]:
df

,Name,FacilityId,Capacity,SQLProduction,InstalledCapacity,State,County,EIC
0,BORES,6176,38.000000,10.20,10.2,ÇANAKKALE,NaN,40W000000000120X
1,ALİZE RES,6014,43.600000,12.50,10.7,İZMİR,ÇEŞME,40W0000000004560
2,MARE RES,6111,224.000000,65.00,56.2,İZMİR,ÇEŞME,40W000000000493V
3,İNTEPE RES,6076,221.200000,59.96,55.7,ÇANAKKALE,NaN,40W000000000502J
4,KARAKURT RES,6087,40.000000,11.81,10.8,MANİSA,AKHİSAR,40W000000000506B
...,...,...,...,...,...,...,...,...
170,ALİAĞA RES,6012,19.200001,19.16,19.2,İZMİR,ALİAĞA,40W100000008100N
171,YAHYALI RES,6165,150.320000,51.99,82.5,KAYSERİ,YAHYALI,40W100000009623N
172,KALFAKÖY RES,6077,10.020000,11.08,10.0,BALIKESİR,GÖNEN,40W100000012082N
173,BERGAMA VENTO RES,6030,25.000000,24.84,21.6,İZMİR,BERGAMA,40W100000012342N
174,YENİHİSAR RES,6169,17.799999,20.64,17.8,AYDIN,DİDİM,40W100000012406N

In [7]:
cities = ["ÇANAKKALE", 'İZMİR', 'MANİSA', 'BALIKESİR', "MUĞLA", "AYDIN", "UŞAK", "BURSA"]

df = df[df.State.isin(cities)]

In [9]:
df = pd.merge(df, coordinates, left_on="EIC", right_on="eic")
df = df[["Name","FacilityId", "eic", "province", "subProvince", "lat", "long"]]
df.columns = ["Name","FacilityId", "eic", "province", "subProvince", "long", "lat"]
df.to_csv("/home/mert/Desktop/thesis/thesis/ege_farms.csv", index=False)

In [11]:
df

,Name,FacilityId,eic,province,subProvince,long,lat
0,BORES,6176,40W000000000120X,Çanakkale,Merkez,26.490631,40.051362
1,ALİZE RES,6014,40W0000000004560,Izmir,Çeşme,26.379425,38.280380
2,MARE RES,6111,40W000000000493V,Izmir,Çeşme,26.379425,38.280380
3,İNTEPE RES,6076,40W000000000502J,Çanakkale,Merkez,26.490631,40.051362
4,KARAKURT RES,6087,40W000000000506B,Manisa,Akhisar,27.886544,38.960366
...,...,...,...,...,...,...,...
98,BANDIRMA RES,6025,40W100000000742N,Balikesir,Bandırma,27.990105,40.275464
99,ALİAĞA RES,6012,40W100000008100N,Izmir,Aliağa,27.037129,38.809698
100,KALFAKÖY RES,6077,40W100000012082N,Balikesir,Gönen,27.649883,40.118308
101,BERGAMA VENTO RES,6030,40W100000012342N,Izmir,Bergama,27.190281,39.173150
102,YENİHİSAR RES,6169,40W100000012406N,Aydin,Didim,27.306191,37.438939

In [18]:
meta_data = pd.read_csv("/home/mert/Desktop/thesis/thesis/meta_large.csv", index_col=0)
meta_data.columns = ["eic", "name", "rt_plant_id"]

In [20]:
print(df.shape, meta_data.shape)

(103, 7) (104, 3)

In [25]:
df = pd.merge(df, meta_data, left_on="eic", right_on="eic", how="outer")
df

,Name,FacilityId,eic,province,subProvince,long,lat,name,rt_plant_id
0,BORES,6176,40W000000000120X,Çanakkale,Merkez,26.490631,40.051362,BORES,1503
1,ALİZE RES,6014,40W0000000004560,Izmir,Çeşme,26.379425,38.280380,ALİZE RES,1485
2,MARE RES,6111,40W000000000493V,Izmir,Çeşme,26.379425,38.280380,MARE RES,1499
3,İNTEPE RES,6076,40W000000000502J,Çanakkale,Merkez,26.490631,40.051362,İNTEPE RES,1490
4,KARAKURT RES,6087,40W000000000506B,Manisa,Akhisar,27.886544,38.960366,KARAKURT RES,1524
...,...,...,...,...,...,...,...,...,...
99,BANDIRMA RES,6025,40W100000000742N,Balikesir,Bandırma,27.990105,40.275464,BANDIRMA RES,672
100,ALİAĞA RES,6012,40W100000008100N,Izmir,Aliağa,27.037129,38.809698,ALİAĞA RES,1781
101,KALFAKÖY RES,6077,40W100000012082N,Balikesir,Gönen,27.649883,40.118308,KALFAKÖY RES,2291
102,BERGAMA VENTO RES,6030,40W100000012342N,Izmir,Bergama,27.190281,39.173150,BERGAMA VENTO RES,2323
103,YENİHİSAR RES,6169,40W100000012406N,Aydin,Didim,27.306191,37.438939,YENİHİSAR RES,2374

In [24]:
a[a.eic == "40W000000003302C"]

,Name,FacilityId,eic,province,subProvince,long,lat,name,rt_plant_id
22,SOMA1 RES,6149,40W000000003302C,Manisa,Merkez,27.400094,38.710603,SOMA1 RES,1527
23,SOMA1 RES,6149,40W000000003302C,Manisa,Merkez,27.400094,38.710603,SOMA2 RES,1528

In [26]:
df.drop(columns=["Name"], inplace=True)
df.to_csv("/home/mert/Desktop/thesis/thesis/ege_farms.csv", index=False)